.title {
  font-family: 'Cinzel';
  text-shadow: 2px 2px 4px #000;
  color: white;
}

.button {
  background-color: #8B4513;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #CD853F;
  font-family: 'Cinzel';
}

.badge {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}

/* Adjust the background color based on the selectedFaction value */
.badge.Hades {
  background-color: red;
}

.badge.Poseidon {
  background-color: blue;
}

.paragraph-container {
  position: absolute;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  transition: opacity 4s ease-in-out;
  width: 75%;
  bottom: 80px;
  opacity: 0;
}

.paragraph-container.visible {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9);
}

.button-container-left {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 50%;
  display: flex; /* Utilisez flexbox pour centrer le contenu */
  justify-content: center; /* Centrer le contenu horizontalement */
}

.button-container-right {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 50%;
  display: flex; /* Utilisez flexbox pour centrer le contenu */
  justify-content: center; /* Centrer le contenu horizontalement */
}

.digital-display {
  font-size: 24px; /* Ou une taille de police qui convient à votre design */
  font-weight: bold;
  color: #ff0000; /* Ou une couleur de texte de votre choix */
  /* Ajoutez d'autres styles au besoin */
}

.paragraph-container-hidden {
  position: absolute;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 75%;
  bottom: 80px;
  opacity: 50;
}

.button-hidden {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8B4513;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #CD853F;
  font-family: 'Cinzel';
  opacity: 0;
}
